<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> !</h1>
      <p>Cet email vous informe que votre proposition a été acceptée par nos équipes. Vous pouvez désormais vous rendre sur <%= link_to "Agora.com", @url %> pour la consulter et répondre aux commentaires des autres utilisateurs.
      </p>
      <p>Encore bravo pour votre super idée et à très vite sur Agora !
      </p>
      <p> L'équipe Agora. <p> 
  </body>
</html>