<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci d'avoir proposé une initiative sur Agora <%= @user.first_name %></h1>
   
<p> Avant de partager votre idée avec le monde entier nous devons vérifier quelle corresponde à notre charte.</p>
<p> Nous reviendrons vers vous très vite pour vous notifier de son acceptation.
 <p>
      Pour accéder à votre compte, connectez-vous via : <%= link_to "Agora.com", @url %>
    </p>
    <p> À très vite sur Agora !</p>

    <p>L'équipe Agora.</p>
  </body>
</html>