<small class="flex-row-start-center"><i class="material-icons">upgrade</i> <span id='general-class'>Classement général : <%= proposal.general_classification %></span></small>
<small class="flex-row-start-center"><i class="material-icons">upgrade</i> <span id='category-class' >Classement catégorie <%= proposal.category.name %> : <%= proposal.category_classification %></span></small>