<div id='category_selector' class="container-fluid">
  <h1 class="h3 mb-3 font-weight-normal text-center">Les photos de chatons disponibles actuellement :</h1>
  <div class = text-center>
    <select id='category' class="custom-select" style = "width: 400px" >
      <option value="" disabled>Choisissez une catégorie</option>
      <option value="">Tous</option>
      <%categories.each do |x|%>
        <option value="<%=x.id%>"><%=x.name%></option>
      <%end%>
    </select>
  </div>
</div>