<div class="banner jumbotron">
  <h1 class="display-4 text-white">Des chatons mignons,</h1> <br>
  <h1 class="display-4 text-white">pour tous</h1>
  <p class="lead text-white">ZeKittenProject vous permet d'acheter des photos de chatons adorables en haute-définiton </p>
</div>