<div id="empty-img" class="texte-bienvenue text-center">
  <br>
  <h2>Vous n'avez aucun produit dans votre panier !</h2> <br>
  <img src = https://images.pexels.com/photos/127027/pexels-photo-127027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 style="height: 500px;" >
  <br>
  <br>
  <a class="btn btn-secondary text-decoration-none" href="/">Revenir à l'accueil</a>
  <br>
  <br>
</div>