<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour votre commande</h1>
    </p> Commande numéro <%= @order.id %></p>
    <br>
    <br>
    <% @order.items.each_with_index do |item, index| %>
      <% if item.image.attached? %>
        <%= image_tag attachments[@filenames[index]].url, :size => "260x180" %> 
      <% end %>
    <%end%>
    <br>
    <br>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur Ze Kitten Project !</p>
  </body>
</html>