#modal {
    position: fixed;
    z-index: 5000;
    border-radius: 25px;
    padding:4rem;
    #close-modal{

        height: 2rem;
        width:2rem;
        position: absolute;
        top:1.5rem;
        left:1.5rem;
        cursor: pointer;
    
    }
}

@media screen and (min-width: 768px) {
    #modal {
        height: 66vh;
        top: 50%;
        bottom: 50%;
        left:40%;
    }
}

@media screen and (max-width: 768px) {
    #modal {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

