<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there and welcome to us !</h1>
    <p>
      You regitered on my_adverts.fr using the following e-mail : <%= @account.email %>.
    </p>
    <p>
      To access you customer area, connect via : <%= @url %>.
    </p>
    <p> See you soon on my_adverts.fr !
  </body>
</html>