<div class="row">
  <h2 class="text-center">Foire Aux Questions</h2>
</div>
<br>
  <div class="card-content">
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-4">
              <ul class="nav nav-pills nav-pills-blue nav-stacked">
                  <li class="active">
                    <a href="#tab0" data-toggle="tab">à quoi sert Agora ?</a>
                  </li>
                  <li>
                    <a href="#tab1" data-toggle="tab">Qui peut s'inscire sur Agora ?</a>
                  </li>
                  <li>
                    <a href="#tab2" data-toggle="tab">Combien de fois puis-je voter ?</a>
                  </li>
                  <li>
                    <a href="#tab3" data-toggle="tab">Que se passe-t-il une fois ma proposition validée sur Agora ?</a>
                  </li>
                  <li>
                    <a href="#tab4" data-toggle="tab">Comment faire valider ma proposition dans ma ville ?</a>
                  </li>
                  <li>
                    <a href="#tab5" data-toggle="tab">Ma proposition est-elle directement acceptée dans ma ville ?</a>
                  </li>
                  <li>
                    <a href="#tab6" data-toggle="tab">Puis-je faire financer mon projet ?</a>
                  </li>
                  <li>
                    <a href="#tab7" data-toggle="tab">Qui peut avoir accès à mes données personnelles ?</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6">
            <div class="tab-content">
              <div class="tab-pane active" id="tab0">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Agora est une plate-forme qui favorise la prise d'initiative citoyenne.</h4>
                  </div>
                  <div class="card-content">
                    <h5>
                      Vous avez une idée pour améliorer votre ville ? Vous pouvez soumettre cette idée sur ce site.
                      Tous les habitants de votre ville inscrits sur Agora pourront la voir, y apporter des remarques et même voter pour elle. 
                      <br /><br /> 
                      Nous considérons qu'une proposition ayant atteint 5 votes est une proposition pertinente. Elle est donc validée sur Agora.
                    </h5>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab1">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Tout citoyen français peut s'inscrire.</h4>
                  </div>
                  <div class="card-content">
                    <h5>
                      En revanche, tout le monde ne peut pas faire de proposition à sa ville.
                      <br /><br /> 
                      Il faut être majeur pour pouvoir proposer un projet à sa mairie. 
                      Cependant, les moins de 18 ans peuvent quand même créer leur proposition afin de donner de la visibilité à leur projet.
                    </h5>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Vous ne pouvez voter qu'une seule fois par proposition.</h4>
                  </div>
                  <div class="card-content">
                    <h5>
                      Vous pouvez également voter pour toute proposition que vous jugeriez pertinente.
                      <br /> 
                    </h5>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab3">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Vous recevez un mail avec toutes les explications.</h4>       
                  </div>
                  <div class="card-content">
                    <h5>
                      Ce mail contient des liens utiles qui vous permettront de mettre en place votre projet.
                      Vous pouvez également vous rendre sur le site de votre ville et vous rendre dans la rubrique "Appel à projet".
                      <br /><br /> 
                      La liste des citoyens ayant voté pour votre idée vous sera également envoyée. 
                      De ce fait, vous pourrez entrer en contact avec eux afin de déployer votre projet, ensemble.
                    </h5>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab4">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Il faut monter un dossier auprès de votre mairie où de l'institution compétente.</h4>      
                  </div>
                  <div class="card-content">
                    <h5>
                      Le dossier doit contenir tout les prérequis demandés par votre mairie. 
                      Un lien avec toutes les explications vous sera envoyé lorsque votre proposition sera validée sur Agora.
                      <br />
                      <br />Nous ne pouvons garantir que votre proposition soit retenue dans votre ville, même avec 5 votes. 
                    </h5>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab5">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Non, Agora est une plate-forme vous permettant de créer une propostion et de trouver des adhérents.</h4>      
                  </div>
                  <div class="card-content">
                    <h5>
                      Agora est un service en ligne qui vous permet de gagner en visibilité, et facilite le recrutement d'adhérents.
                      Votre proposition ne sera effective qu'aprés validation auprès de l'institution compétente de votre ville.  
                      <br /><br />
                      Une proposition validée sur Agora peut être rejetée dans votre ville. 
                    </h5>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab6">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Oui, et il existe plusieurs façons pour cela.</h4>       
                  </div>
                  <div class="card-content">
                    <h5>
                      Budget participatif, financement de l'état ou de la mairie... il existe une multitude de financements.
                      <br /><br />
                      Le financement dépend du type de votre proposition.
                    </h5>
                  </div>
                </div>
              </div>               
              <div class="tab-pane" id="tab7">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Seul Agora peut accéder à vos données. Celles-ci sont protégées.</h4>       
                  </div>
                  <div class="card-content">
                    <h5>
                      Seule exception : lorsque vous votez pour une proposition et que celle-ci est validée sur Agora, votre email sera envoyé à l'initiateur de la proposition afin de pouvoir entrer en contact.
                      Cela vous est précisé lors de votre inscription.
                      <br />
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-1"></div>
  </div>
<br><br>
  
                             