<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h2 class="text-center">Mentions légales</h2>
        <br>
        <h5>Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet www.agora.fr sont :</h5>
        <br>
        <h4><b>Editeur du site : </b></h4>
        <ul>
          <li class="h5">SARL AGORA Numéro de SIRET : 75221735600019</li>
          <li class="h5">Responsable éditorial : MATHIEU BOBIN</li>
          <li class="h5">22 rue des lauriers, 33000 Bordeaux</li>
          <li class="h5">Téléphone : 05 62 23 55 89</li>
          <li class="h5">Email : zeagoraproject@gmail.com</li>
          <li class="h5">Site Web : www.agora.fr</li>
        </ul>
        <br>
        <h4><b>Hébergement : </b></h4>
        <ul>
          <li class="h5">SARL AGORA</li>
          <li class="h5">22 rue des lauriers, 33000 Bordeaux</li>
          <li class="h5">Site Web : www.agora.fr</li>
        </ul>
        <br>
        <h4><b>Développement :  </b></h4>
        <ul>
          <li class="h5">SARL AGORA</li>
          <li class="h5">22 rue des lauriers, 33000 Bordeaux</li>
          <li class="h5">Téléphone : 05 62 23 55 89</li>
          <li class="h5">Email : zeagoraproject@gmail.com</li>
        </ul>
        <br>
        <h4><b>Conditions d'utilisation :  </b></h4>
        <h5>Ce site (www.agora.fr) est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…</h5>
        <h5>L’équipe d'Agora met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L’internaute devra donc s’assurer de l’exactitude des informations auprès de , et signaler toutes modifications du site qu’il jugerait utile. n’est en aucun cas responsable de l’utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.</h5>
        <br><br>
      </div>
    </div>
  </div>
</div>