<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h2 class="text-center">Charte d'utilisation d'Agora</h2>
        <br>
        <h5>La présente charte a pour objet de définir les règles d’utilisation et les bonnes pratiques sur les pages du site Agora.</h5>
        <h5>Toute personne qui poste ou interagit sur les pages d'Agora s’engage à respecter la présente charte : </h5>
        <h5>Les contributions (textes, photos, etc.) qui sont contraires à l’ordre public, aux bonnes mœurs et à la législation en vigueur, et qui portent atteinte aux droits des tiers sont interdites, notamment :</h5>
        <ul>
          <li class="h5">les contributions qui sont menaçantes, insultantes, diffamatoires, pornographiques, racistes, xénophobes, homophobes, sexistes, antisémites ou islamophobes;</li>
          <li class="h5">les contributions susceptibles d'inciter à la violence ou d'encourager des pratiques dangereuses;</li>
          <li class="h5">les contributions qui ne respectent pas la vie privée selon la législation relative à la protection des données à caractère personnel, telles que la publication de l’adresse e-mail, l’adresse postale ou du numéro de téléphone d’une personne ou d’une photographie représentant des personnes reconnaissables sans notamment le consentement des celles-ci;</li>
          <li class="h5">les contributions dont l’utilisateur n’est pas titulaire de tous les droits de propriété intellectuelle, par exemple la publication de documents protégés par un copyright ou droit d’auteur;</li>
          <li class="h5">les contributions qui contiennent des liens vers d'autres sites web ou forums au contenu illégal;</li>
          <li class="h5">les contributions qui ont un contenu publicitaire, promotionnel, commercial ou qui contiennent des liens vers des sites web ayant un tel contenu, ainsi que les contributions qui sont publiées à des fins de recrutement ou à des fins d’enquête;</li>
          <li class="h5">les contributions qui s’apparentent à du spamming.</li>
        </ul>
        <h5>L'équipe d'Agora se réserve le droit de supprimer toute contribution ne répondant pas à ces règles. </h5>
        <br><br>
      </div>
    </div>
  </div>
</div>