<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-content text-center">
        <h6 class='text-muted'>Merci pour votre proposition, elle a bien été envoyée à notre équipe pour validation. Vous recevrez un mail dès que celle-ci sera mise en ligne.</h6>
        <%= link_to "Voir les propositions de ma ville", city_path(current_user.city) ,class: "btn  btn-md btn-primary"%>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>