<div id="jumbotron" class="container">
  <div class="row">
    <div class="col-md-7 city">
      <h1 class="display-4 text-responsive">Les propositions citoyennes à <%= city.name %></h1>
      <p class="lead">Retrouvez les meilleures propositions du moment ci-dessous</p>
    </div>
    <div class="col-md-5 city">
      <%= image_tag("city.svg", style: "width:100%") %>
    </div>
  </div>
</div>