<div id="lbls-votes-conut-<%= x.id %>">
  <%if x.votes_count >1 %>
    <h6 class='text-center'> <%= x.votes_count %> VOTES</h6>
  <%else%>
    <h6 class='text-center'><%= x.votes_count %> VOTE</h6>
  <%end%>
</div>