<h1 class="text-center mt-4 mb-5"> Contact </h1>

<div class="container">
  <div class="row align-items-center">
    <div class="col-6 order-first">
    <h5 class="text-center">PAR TELEPHONE &#x1F4DE;</h5>
      <br>
      <p>Au: +33 9 36 59 50 56 (Prix d'un appel local)</p>
      <br>
      <p>Un conseiller est à votre écoute pour vous aider. Vous pouvez également passer votre commande par téléphone, nous pourrons vous conseiller sur les produit.</p>
      <br>
      <p>Du Lundi au jeudi : 9h00 – 13h00 / 14h00 – 16h00. Le vendredi: 10h00 – 15h00 (Hors jours fériés français)</p>
    </div>
    <div class="col-6">
      <h5 class="text-center">PAR EMAIL	&#x2709;&#xFE0F;</h5>
      <br>
      <p>Besoin d’une aide pour finaliser ou suivre votre commande? Une question concernant notre marque ou notre programme de fidélité ? N'hésitez pas, notre équipe service client est à votre disposition du lundi au vendredi. Votre satisfaction étant notre priorité, nous nous engageons à apporter des réponses rapides et personnalisées à toutes vos questions dans un délai de 24-48 heures ouvrées.</p>
      <p>Notre email: Zekittenproject@gmail.com</p>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <h1 class="text-center mt-4 mb-5"> Les fondateurs </h1>
  <div class="row justify-content-center">
    <div class="card border-danger mb-3 mx-3" style="max-width: 20rem;">
      <div class="card-header text-center">DIRIGEANT</div>
      <div class="card-body">
        <h4 class="card-title">Mathieu Bobin</h4>
        <a class="btn btn-secondary text-decoration-none" href="https://www.linkedin.com/in/mathieubobin/">Linkedin</a>
      </div>
    </div>
    <div class="card border-danger mb-3 mx-3" style="max-width: 20rem;">
      <div class="card-header text-center">DIRECTEUR MARKETING</div>
      <div class="card-body">
        <h4 class="card-title">Timothé Ruffino</h4>
        <a class="btn btn-secondary text-decoration-none" href="https://www.linkedin.com/in/timoth%C3%A9-ruffino-0819a81a9/"> Linkedin </a>
      </div>
    </div>
    <div class="card border-danger mb-3 mx-3" style="max-width: 20rem;">
      <div class="card-header text-center">DEV FULL STACK</div>
      <div class="card-body">
        <h4 class="card-title">Brahim Ouinten</h4>
        <a class="btn btn-secondary text-decoration-none" href="https://www.linkedin.com/in/brahim-o-8086b9187/">Linkedin</a>
      </div>
    </div>
    <div class="card border-danger mb-3 mx-3" style="max-width: 20rem;">
      <div class="card-header text-center">DEV FULL STACK</div>
      <div class="card-body">
        <h4 class="card-title">Mathilde de Jaureguiberry</h4>
        <a class="btn btn-secondary text-decoration-none" href="https://www.linkedin.com/in/mathilde-de-jaureguiberry-765087169/">Linkedin</a>
      </div>
    </div>
    <div class="card border-danger mb-3 mx-3" style="max-width: 20rem;">
      <div class="card-header text-center">DIRECTRICE DESIGN</div>
      <div class="card-body">
        <h4 class="card-title">Mathilde Pourchandy</h4>
        <a class="btn btn-secondary text-decoration-none" href="https://fr.linkedin.com/in/mathilde-prouchandy-35b692139">Linkedin</a>
      </div>
    </div>
  </div>
</div>